.header_cont{
    background-color: var(--backgrndColor);
    display: flex;
    justify-content: space-around;
    padding:15px;
    top:0;
    position:fixed;
    width:100%;
}
.heading_h{  
    font-style: normal;
    text-decoration: none;
}
@media (max-width:912px){
    .heading_h{
        font-size:14px;
        font-style: normal;
        text-decoration: none;
    }
}